@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
  }

  html > body > #__nuxt > #__layout {
    /*@apply overflow-hidden;*/

    > div {
      @apply flex flex-col min-h-screen;
    }
  }

  svg {
    height: auto;
  }

  *::selection {
  }

  html {
    height: -webkit-fill-available;
    scroll-behavior: smooth;
    box-sizing: border-box;
    @apply bg-blue-background opacity-100;
  }

  body {
    @apply relative text-white font-futura text-18 lg:text-24-body font-medium tracking-wider;
    min-height: -webkit-fill-available;
  }

  p {
    @apply text-white font-medium text-18 lg:text-24-body font-futura tracking-wider;
  }

  a {
    &:hover {
      @apply text-green;
    }
  }
  
  mark {
    @apply text-green;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-white font-conthrax font-normal;
  }

  h1 {
    @apply text-36 lg:text-48;
  }

  h2 {
    @apply text-32 lg:text-36;
  }

  h3 {
    @apply text-20 lg:text-32;
  }

  h4 {
    @apply text-18;
  }

  select {
    -moz-appearance: none;
    -webkit-appearance: none;
  }
  
  select::-ms-expand {
    display: none;
  }
}