.field-first-name{
        width: 320px;
        height: 60px;
        border-radius: 0.5rem;
        padding: 0.5rem 1rem;
        margin-bottom: 30px;
        margin-right: 25px;
        color: black;
}
.field-last-name {
        width: 320px;
        height: 60px;
        border-radius: 0.375rem;
        padding: 0.5rem 1rem;
        margin-bottom: 30px;
        color: black;
        
}
.field-e-mail {
        width: 670px;
        height: 60px;
        border-radius: 0.375rem;
        padding: 0.5rem 1rem;
        margin-bottom: 30px; 
        color: black;
}
.field-message {
        width: 670px;
        height: 250px;
        border-radius: 0.375rem;
        padding: 0.5rem 1rem;
        margin-bottom: 50px;
        color: black;
}
.contact-box {
    align-items: center;
}
.btn {
    display: inline-block;
    margin: 0 auto;
}