.field{
        width: 50%;
        border: 2px solid rgba(0, 0, 0, 0);
        outline: none;
        background-color: black;
        padding: 0.5rem 1rem;
        margin-bottom: 22px;
        align-items: center;
    }
